<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
    <mat-tab-group fxFlex="0 1 auto" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">0
      <mat-tab *ngFor="let account of accounts" [label]="account.name"></mat-tab>
    </mat-tab-group>
    <button mat-icon-button [matMenuTriggerFor]="menuRef">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuRef="matMenu">
      <button mat-menu-item>Фильтр</button>
      <button mat-menu-item>Новый счет</button>
      <button mat-menu-item>Удалить</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
