:host {
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
}

div.overflow-auto {
    overflow: auto;
}

.mat-tab-group {
    min-width: 0;
}

.mat-tab-header {
    border: none;
    position: sticky;
}

.fab-container {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}

table {
    width: 100%;
    overflow: auto;
}

mat-header-row {
    height: 30px !important;
}

mat-drawer {
    width: 350px;
}
